{% extends 'base.html' %}

{% block content %}
<h1>Détails de l'élève : {{ eleve.nom }}</h1>

<div class="periode-cards">
    {% for periode in periodes %}
        <div class="periode-card">
            <a href="{% url 'details_periode' eleve_id=eleve.id periode_id=periode.id %}">
                <h2>{{ periode.nom }}</h2>
                {% comment %} <p>Moyenne attendue : {{ notations_par_periode|get_item:periode }.moyenne_attendue|floatformat:2 }}</p>
                <p>Moyenne obtenue : {{ notations_par_periode|get_item:periode }.moyenne_obtenue|floatformat:2 }}</p> {% endcomment %}
            </a>
        </div>
    {% endfor %}
</div>
</div>

<!-- Lien vers la page des situations de l'élève -->
<div class="situations-link">
    <h3><a href="{% url 'situations_eleve' eleve_id=eleve.id %}">Voir la situation complète de l'élève</a></h3>
</div>
{% endblock %}

{% block styles %}
<style>
    .periode-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .periode-card {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        width: calc(33.333% - 20px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
    .periode-card a {
        text-decoration: none;
        color: inherit;
    }
    .periode-card:hover {
        transform: translateY(-5px);
    }
</style>
{% endblock %}
